/*
--- 01 Typography system

Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 97

lineheight delfult 1
small: 1.05
paragraph default: 1.6
- Spacing system
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

letter spacing:
default: 1
small: -0.05px
0.75px
medium: 1.2px

colors
- Primary : #e67e22
Tints: #fdf2e9
Shades: #cf711f
Accents
greys

font weight
default: 400
medium: 500
semi-bold: 600
bold: 700

border-radius
default: 9px

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
html {
  font-size: 62.5%;
}
strong {
  font-weight: 500;
}
/* -------------- */
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9.6rem;
}
/* .grid:last-child {
  margin-bottom: 0;
} */
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--center--v {
  align-items: center;
}
.heading-primary,
.heading-secondry,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #333;
}
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}
.heading-secondry {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
  /* color: ; */
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.margin--bottom--md {
  margin-bottom: 4.8rem !important;
}

.link {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}
.link:hover {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.center-text {
  text-align: center;
}
.btn {
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  color: #fff;
  border-radius: 9px;
  transition: all 0.3s;
}
